
.tags {
    color: #808c9e;
    font-size: 17px;
    line-height: 28px;
}

.tags__title {
    margin-top: 0;
    margin-bottom: 8px;
    color: #808c9e;
    font-weight: 400;
}

.tags__products {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0;
    margin: 0;
    color: #808c9e;
    text-decoration: none;
}

.tags__link {
    background-color: #F1F3F5;
    color: #808c9e;
    box-sizing: border-box;
    padding: 5px 0 5px;
    cursor: pointer;
    text-decoration: none;
}

.tags__link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .tags {
        font-size: 15px;
        line-height: 24px;
    }

    .tags__products {
        flex-direction: row;
    }
}